body{
    background-color: #e95858;
}


.nav-links{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    margin: 2em;
    color: azure;
    font-weight: bolder;
}

h1 a{
    font-size: 3em;
    font-weight:bolder ;
    color: white;
    margin-left: -2px;
    margin-top: 0;
}

.main{
    color: #e95858;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    text-align: center;
    margin-top: 5em;
    background-color: aliceblue;
    border-radius: 15px;
}

button{
    padding: 1em;
    border-radius: 8px;
    font-weight: bold;
    background-color: #e95858;
    color: white;
    border: none;
}